#!/usr/bin/make -f
  
include /usr/share/cdbs/1/rules/debhelper.mk

install/bubba-horde::
	install -DT database.sql debian/bubba-horde/usr/share/dbconfig-common/data/bubba-horde/install/mysql
	for upgrade in upgrades/*; do \
		ver=`basename $$upgrade`; \
		if [ -f $$upgrade/database.sql ]; then \
			install -DT $$upgrade/database.sql debian/bubba-horde/usr/share/dbconfig-common/data/bubba-horde/upgrade/mysql/$$ver; \
		fi; \
		if [ -d $$upgrade/scripts ]; then \
			install -d debian/bubba-horde/usr/share/bubba-horde/upgrades/$$ver; \
			install -d debian/bubba-horde/usr/share/dbconfig-common/scripts/bubba-horde/upgrade/mysql; \
			install $$upgrade/scripts/* debian/bubba-horde/usr/share/bubba-horde/upgrades/$$ver; \
			echo "#!/bin/sh" > debian/bubba-horde/usr/share/dbconfig-common/scripts/bubba-horde/upgrade/mysql/$$ver; \
			find $$upgrade/scripts/ -type f -printf "/usr/share/bubba-horde/upgrades/$$ver/%f\n" >> debian/bubba-horde/usr/share/dbconfig-common/scripts/bubba-horde/upgrade/mysql/$$ver; \
			chmod 755 debian/bubba-horde/usr/share/dbconfig-common/scripts/bubba-horde/upgrade/mysql/$$ver; \
		fi; \
	done; \
			
# Add here any variable or target overrides you need.
